[color]
  status = always

[alias]
  aa = add .
  lg = !tig
  st = status -sb
  cm = commit
  co = checkout
  df = diff --color
  dc = diff --color --cached
  ph = push
  pl = pull
  rpl = submodule update --init --recursive
  pr = !hub pull-request
  sw = show --color
  lc = !git ls-files | grep "^$1" | xargs wc -l
  ignore  = !echo $1 >> .gitignore
  this    = !git init && git add . && git commit -m \"initial commit\"
  sync    = !git fetch $1 && git merge $1/$2

[user]
  name = Andrei Lisnic
  email = andrei.lisnic@gmail.com
[push]
  default = matching
