[color]
  status = always

[alias]
  aa = add .
  st = status -sb
  cm = commit
  co = checkout
  cp = cherry-pick
  df = diff --color
  dc = diff --color --cached
  ph = push
  lg = log --pretty=oneline --abbrev-commit
  pl = pull
  sw = show --color
  this = !git init && git add . && git commit -m \"initial commit\"
  rhh  = reset HEAD --hard

[user]
  name = Andrei Lisnic
  email = andrei.lisnic@gmail.com
[push]
  default = matching
[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	tool = vimdiff
[core]
	excludesfile = /Users/andrei/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/andrei/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
